@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background: url("../img/hero-bg-2.jpg") no-repeat;
    background-size: cover;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
}

.img-login {
    margin: 0 auto;
    display: block;
    width: 80%;
}

.container h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    border-bottom: 5px solid #B6AA56;
    margin-bottom: 30px;
    padding: 10px 0;
    text-transform: uppercase;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    color: white;
    border-bottom: 2px solid #B6AA56;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn {
    width: 100%;
    background: #4caf50;
    border: 2px solid #B6AA56;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #009406;
}